.topsection {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  @include breakpoint-up(tablet) {
    background-size: cover;
    background-size: 100vh 100vh;
  }
  @include breakpoint-up(laptop) {
    background-size: cover;
  }
  @media all and (orientation: landscape) {
    background-size: 100% 100vh;
  }
  justify-content: center;
  align-items: center;
  display: flex;
  h1 {
    z-index: 1;
    color: white;
  }
}
.mission-section {
  text-align: center;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  @include breakpoint-up(tablet) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @include breakpoint-up(laptop) {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.aboutuscontainer {
  margin-top: 50px;
}
.content {
  margin-top: 40px;
  margin-bottom: 40px;
  h3 {
    margin-top: 20px;
    span {
      display: inline-block;
      font-size: 2rem;
      stroke-dashoffset: 100;
      padding: 1px 20px;
      margin: 20px 0;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='black' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
      text-align: center;
    }
  }
  h3,
  p {
    margin-left: 5%;
    margin-right: 5%;
    @include breakpoint-up(tablet) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  img {
    width: 100%;
  }
  @include breakpoint-up(laptop) {
    display: flex;
    align-items: center;
    img {
      width: 600px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
.reverse {
  @include breakpoint-up(laptop) {
    flex-direction: row-reverse;
    margin-right: 0;
    img {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
.two {
  @include breakpoint-up(laptop) {
    flex-direction: row;
    justify-content: space-between;
    h3,
    p {
    }
    img {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.team {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  @include breakpoint-up(tablet) {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  &-members {
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    button {
      padding-left: 10px;
      padding-right: 10px;
      background: #1f2f22;
      border-radius: 25px;
      color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 20px;
  }
}

.press {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  @include breakpoint-up(tablet) {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .pressarticles {
    width: 350px;
    img {
      width: 100%;
    }
    .pressinfo {
      margin-top: 2px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
      background-image: linear-gradient(to right, #1f2f22, #61865d);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: white;
      h1,
      p,
      button {
        margin-left: 5%;
      }
    }
  }
}
