.share-venya {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  h5 {
    font-size: 26px;
    font-weight: 500;
  }
  p {
    font-size: 18px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    a {
      margin-right: 10px !important;
      font-size: 20px !important;
      transition: 0.3s !important;
      cursor: pointer !important;
      &:hover {
        transform: scale(1.5) !important;
      }
    }
  }
}
.footer {
  position: absolute;
  margin-top: 250px;
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  color: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  img {
    height: 50px;
    width: 100px;
  }
  h4,
  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include breakpoint-up(tablet) {
    padding-right: 10%;
    padding-left: 10%;
  }
  @include breakpoint-up(laptop) {
    display: flex;
    justify-content: space-between;
  }
  .list-footer {
    list-style: none;
    padding: 0;
    a {
      cursor: pointer !important;
    }
  }
  .input-form-footer button {
    padding: 5px 10px;
    background-color: #1f2f22;
  }
  .input-form-footer button {
    padding: 3px 10px;
    background-color: #1f2f22;
    transition: 0.2s;
    &:hover {
      background-color: #d8bdaa;
      color: #000;
    }
  }
  .social-media {
    display: flex;
    a {
      margin-right: 10px !important;
      font-size: 20px !important;
      transition: 0.3s !important;
      cursor: pointer !important;
      &:hover {
        transform: scale(1.5) !important;
      }
    }
    @include breakpoint-up(laptop) {
      justify-content: space-between;
    }
  }
}
.footer-bottom {
  position: relative;
  bottom: 0;
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  color: #fff;
}
.contenttwo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 25%;
  @include breakpoint-up(laptop) {
    margin-right: 0;
    margin-top: 0;
    width: 300px;
  }
}
