@font-face {
  font-family: "OPTIMA";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("../scss/OPTIMA.TTF") format("TTF");
}
@font-face {
  font-family: "Holland";
  src: url("../scss/Holland.woff2") format("woff2");
}
* {
  font-family: Optima, sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #878787;
}

a {
  all: unset !important;
  cursor: pointer !important;
}
button {
  all: unset;
  cursor: pointer;
}

.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-dot:focus,
.owl-dot:hover {
  background: #869791;
}

.trending-head {
  display: inline-block;
  font-size: 2rem;
  stroke-dashoffset: 100;
  padding: 1px 20px;
  margin: 20px 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='black' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
  text-align: center;
}

.venay-head {
  display: inline-block;
  font-size: 2rem;
  stroke-dashoffset: 100;
  padding: 1px 20px;
  margin: 20px 0;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='white' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
  text-align: center;
}

.social {
  color: #1f2f22;
  span {
    &:not(:last-child) {
      padding-right: 10px;
    }
  }
}
