.home {
  &-sectionA {
    &-loading {
      width: 100%;
      height: 100vh;
    }
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    @include breakpoint-up(tablet) {
      background-size: cover;
      background-size: 100vh 100vh;
    }
    @include breakpoint-up(laptop) {
      background-size: cover;
    }
    @media all and (orientation: landscape) {
      background-size: 100% 100vh;
    }
    &-info {
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 80%;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-text {
        text-align: center;
        h1 {
          font-size: 1.25rem;
          color: white;
          padding-bottom: 10px;
          @include breakpoint-up(tablet) {
            font-size: 1.8rem;
          }
          @include breakpoint-up(laptop) {
            font-size: 4rem;
          }
        }

        button {
          font-weight: 400;
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 20px;
          border: 1px solid white;
          text-transform: uppercase;
          background-image: linear-gradient(to right, #1f2f22, #61865d);
          color: white;
        }
      }
    }
    img {
      width: 100%;
      height: 100px;
      position: absolute;
      z-index: 1;
      bottom: 0;
    }
  }
  &-sectionB {
    background-image: linear-gradient(to right, #1f2f22, #61865d);
    &-info {
      color: white;
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      h5 {
        margin: 0;
        padding-top: 3rem;
        text-transform: capitalize;
        font-size: 14px;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        font-weight: 400;
        line-height: 1.5;
      }
      img {
        height: 6.5rem;
        width: 12.5rem;
      }
      h1 {
        font-size: 2rem;
        line-height: 3.875rem;
        font-weight: 200;
      }
      span {
        font-family: "holland" !important;
        color: #d8bdaa;
        font-size: 2.5rem;
        line-height: 0.9;
        font-weight: 200;
        @include breakpoint-up(laptop) {
          font-size: 4.5rem;
        }
      }
      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
    }

    &-cards {
      display: flex;
      margin-left: 7%;
      margin-right: 7%;
      padding-top: 30px;
      padding-bottom: 30px;

      &-card {
        width: 350px;
        border-radius: 20px;
        background-image: linear-gradient(to right, #1f2f22, #61865d);
        margin-left: 10px;
        padding: 20px;
        color: white;
      }
    }
  }

  &-sectionC {
    text-align: center;
    color: #1f2f22;
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
      margin-bottom: 50px;
      font-size: 3.5rem;
      line-height: 3.875rem;
    }
    &-contentA {
      margin-top: 20px;
      img {
        width: 100%;
        display: block;
        @include breakpoint-up(laptop) {
          border-top-left-radius: 20px !important;
          border-bottom-left-radius: 20px !important;
          width: 600px;
        }
      }
      &-text {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        @include breakpoint-up(tablet) {
          margin-left: 10%;
          margin-right: 10%;
        }
        h3 {
          margin-bottom: 50px;
          font-size: 3.5rem;
          line-height: 3.875rem;
          text-transform: capitalize;
          color: #1f2f22;
          margin-top: 3rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 500;
          text-align: left;
        }
      }

      @include breakpoint-up(laptop) {
        display: flex;
        flex-direction: row-reverse;
      }
    }
    &-contentB {
      margin-top: 20px;
      img {
        width: 100%;
        display: block;
        @include breakpoint-up(laptop) {
          border-top-right-radius: 20px !important;
          border-bottom-right-radius: 20px !important;
        }
      }
      &-text {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        @include breakpoint-up(tablet) {
          margin-left: 10%;
          margin-right: 10%;
        }
        @include breakpoint-up(laptop) {
          width: 600px;
          margin-left: 10%;
          margin-right: 10%;
        }
        h3 {
          margin-bottom: 50px;
          font-size: 3.5rem;
          line-height: 3.875rem;
          text-transform: capitalize;
          color: #1f2f22;
          margin-top: 3rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 500;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
        }
      }

      @include breakpoint-up(laptop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

/******* Section D *****/ //

.SectionD {
  padding-bottom: 30px;
  width: 100%;
  height: 800px;
  @include breakpoint-up(laptop) {
    height: 700px;
  }
  &-container {
    @include breakpoint-up(laptop) {
      align-items: center;
      position: absolute;
      width: 100%;
      height: 500px;
      img {
        width: 100%;
        height: 500px;
      }
    }
    img {
      width: 100%;
      display: block;
    }
    h3 {
      position: relative;
      z-index: 2;
      top: 120px;
      margin-left: 5%;
      color: white;
    }
    &-text {
      padding-bottom: 20px;
      background-image: linear-gradient(to right, #1f2f22, #61865d);
      h3 {
        top: 0;
      }
      p {
        color: white;
        margin-left: 5%;
      }

      button {
        background-image: linear-gradient(to right, #1f2f22, #61865d);
        border-radius: 25px;
        margin-left: 5%;
        border: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include breakpoint-up(laptop) {
        z-index: 1;
        width: 600px;
        height: 400px;
        position: absolute;
        right: 0px;
        top: 25%;
      }
    }
  }
  &-buttoncontainer {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
    @include breakpoint-up(laptop) {
      top: 600px;
    }
  }
}

/***************section E *********/
.sectionE {
  h1 {
    margin-left: 5%;
    margin-right: 5%;
  }
  @include breakpoint-up(laptop) {
    h1 {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
.mobiletab {
  margin-top: 20px;
  @include breakpoint-up(laptop) {
    display: none;
  }
  &-infosection {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #fff;
    h4,
    p {
      margin-left: 5%;
    }
    h4 {
      padding-top: 70px;
    }
    button {
      background-image: linear-gradient(to right, #1f2f22, #61865d);
      border-radius: 25px;
      margin-left: 5%;
      border: 1px solid white;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
    @include breakpoint-up(tablet) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  &-buttoncontainer {
    margin-top: 10px;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
  }
}

.laptopsuited {
  visibility: hidden;
  height: 0;
  @include breakpoint-up(laptop) {
    visibility: visible;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;

    &-content {
      cursor: pointer;
      width: 200px;
      color: #fff;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
