$breakpoints-up: (
  "tablet": "48em",
  "laptop": "64em",
  "xlarge": "90em",
);

$breakpoints-down: (
  "small": "49.9375em",
  "medium": "56.25em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up , $size)) {
    @content;
  }
}
@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down , $size)) {
    @content;
  }
}
