.navmobile {
  position: fixed;
  width: 100%;
  height: 5rem;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
  @include breakpoint-up(tablet) {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  @include breakpoint-up(laptop) {
    display: none;
  }
  img {
    height: 3.125rem;
  }
  color: white;

  &-drawer {
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    @include breakpoint-up(tablet) {
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}
.navdesktop {
  visibility: hidden;
  height: 0;
  width: 0;
  z-index: 100;
  @include breakpoint-up(laptop) {
    visibility: visible;
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    height: 5rem;
    img {
      height: 3.125rem;
      justify-self: center;
    }
    a {
      justify-self: center !important;
      color: white !important;
    }
    &-notactive {
      background: transparent;
    }
    &-active {
      background-image: linear-gradient(to right, #1f2f22, #61865d);
    }
  }
}
