.login {
  &-form {
    text-align: center;
    margin-top: 10pxi;
    input {
      width: 330px;
      border-radius: 25px;
      margin-bottom: 10px;
    }
    button {
      background-color: #1f2f22;
      color: #fff;
      border-radius: 25px;
      width: 330px;
      text-align: center;
    }
    p {
      margin-top: 10px;
      span {
        color: red;
      }
    }
  }
}
