@font-face {
  font-family: "OPTIMA";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("../scss/OPTIMA.TTF") format("TTF");
}

@font-face {
  font-family: "Holland";
  src: url("../scss/Holland.woff2") format("woff2");
}

* {
  font-family: Optima, sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #878787;
}

a {
  all: unset !important;
  cursor: pointer !important;
}

button {
  all: unset;
  cursor: pointer;
}

.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-dot:focus,
.owl-dot:hover {
  background: #869791;
}

.trending-head {
  display: inline-block;
  font-size: 2rem;
  stroke-dashoffset: 100;
  padding: 1px 20px;
  margin: 20px 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='black' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
  text-align: center;
}

.venay-head {
  display: inline-block;
  font-size: 2rem;
  stroke-dashoffset: 100;
  padding: 1px 20px;
  margin: 20px 0;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='white' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
  text-align: center;
}

.social {
  color: #1f2f22;
}

.social span:not(:last-child) {
  padding-right: 10px;
}

.navmobile {
  position: fixed;
  width: 100%;
  height: 5rem;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
  color: white;
}

@media (min-width: 48em) {
  .navmobile {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 64em) {
  .navmobile {
    display: none;
  }
}

.navmobile img {
  height: 3.125rem;
}

.navmobile-drawer {
  width: 90%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

@media (min-width: 48em) {
  .navmobile-drawer {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.navdesktop {
  visibility: hidden;
  height: 0;
  width: 0;
  z-index: 100;
}

@media (min-width: 64em) {
  .navdesktop {
    visibility: visible;
    position: fixed;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
  }
  .navdesktop img {
    height: 3.125rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .navdesktop a {
    -ms-grid-column-align: center !important;
        justify-self: center !important;
    color: white !important;
  }
  .navdesktop-notactive {
    background: transparent;
  }
  .navdesktop-active {
    background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
    background-image: linear-gradient(to right, #1f2f22, #61865d);
  }
}

.home-sectionA {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
}

.home-sectionA-loading {
  width: 100%;
  height: 100vh;
}

@media (min-width: 48em) {
  .home-sectionA {
    background-size: cover;
    background-size: 100vh 100vh;
  }
}

@media (min-width: 64em) {
  .home-sectionA {
    background-size: cover;
  }
}

@media all and (orientation: landscape) {
  .home-sectionA {
    background-size: 100% 100vh;
  }
}

.home-sectionA-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-sectionA-info-text {
  text-align: center;
}

.home-sectionA-info-text h1 {
  font-size: 1.25rem;
  color: white;
  padding-bottom: 10px;
}

@media (min-width: 48em) {
  .home-sectionA-info-text h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 64em) {
  .home-sectionA-info-text h1 {
    font-size: 4rem;
  }
}

.home-sectionA-info-text button {
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: 1px solid white;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  color: white;
}

.home-sectionA img {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.home-sectionB {
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
}

.home-sectionB-info {
  color: white;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

.home-sectionB-info h5 {
  margin: 0;
  padding-top: 3rem;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

.home-sectionB-info img {
  height: 6.5rem;
  width: 12.5rem;
}

.home-sectionB-info h1 {
  font-size: 2rem;
  line-height: 3.875rem;
  font-weight: 200;
}

.home-sectionB-info span {
  font-family: "holland" !important;
  color: #d8bdaa;
  font-size: 2.5rem;
  line-height: 0.9;
  font-weight: 200;
}

@media (min-width: 64em) {
  .home-sectionB-info span {
    font-size: 4.5rem;
  }
}

.home-sectionB-info p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.home-sectionB-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-sectionB-cards-card {
  width: 350px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  margin-left: 10px;
  padding: 20px;
  color: white;
}

.home-sectionC {
  text-align: center;
  color: #1f2f22;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-sectionC h3 {
  margin-bottom: 50px;
  font-size: 3.5rem;
  line-height: 3.875rem;
}

.home-sectionC-contentA {
  margin-top: 20px;
}

.home-sectionC-contentA img {
  width: 100%;
  display: block;
}

@media (min-width: 64em) {
  .home-sectionC-contentA img {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    width: 600px;
  }
}

.home-sectionC-contentA-text {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .home-sectionC-contentA-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.home-sectionC-contentA-text h3 {
  margin-bottom: 50px;
  font-size: 3.5rem;
  line-height: 3.875rem;
  text-transform: capitalize;
  color: #1f2f22;
  margin-top: 3rem;
}

.home-sectionC-contentA-text p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: left;
}

@media (min-width: 64em) {
  .home-sectionC-contentA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.home-sectionC-contentB {
  margin-top: 20px;
}

.home-sectionC-contentB img {
  width: 100%;
  display: block;
}

@media (min-width: 64em) {
  .home-sectionC-contentB img {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}

.home-sectionC-contentB-text {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .home-sectionC-contentB-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 64em) {
  .home-sectionC-contentB-text {
    width: 600px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.home-sectionC-contentB-text h3 {
  margin-bottom: 50px;
  font-size: 3.5rem;
  line-height: 3.875rem;
  text-transform: capitalize;
  color: #1f2f22;
  margin-top: 3rem;
}

.home-sectionC-contentB-text p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 64em) {
  .home-sectionC-contentB {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/******* Section D *****/
.SectionD {
  padding-bottom: 30px;
  width: 100%;
  height: 800px;
}

@media (min-width: 64em) {
  .SectionD {
    height: 700px;
  }
}

@media (min-width: 64em) {
  .SectionD-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 500px;
  }
  .SectionD-container img {
    width: 100%;
    height: 500px;
  }
}

.SectionD-container img {
  width: 100%;
  display: block;
}

.SectionD-container h3 {
  position: relative;
  z-index: 2;
  top: 120px;
  margin-left: 5%;
  color: white;
}

.SectionD-container-text {
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
}

.SectionD-container-text h3 {
  top: 0;
}

.SectionD-container-text p {
  color: white;
  margin-left: 5%;
}

.SectionD-container-text button {
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  border-radius: 25px;
  margin-left: 5%;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 64em) {
  .SectionD-container-text {
    z-index: 1;
    width: 600px;
    height: 400px;
    position: absolute;
    right: 0px;
    top: 25%;
  }
}

.SectionD-buttoncontainer {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

@media (min-width: 64em) {
  .SectionD-buttoncontainer {
    top: 600px;
  }
}

/***************section E *********/
.sectionE h1 {
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 64em) {
  .sectionE h1 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.mobiletab {
  margin-top: 20px;
}

@media (min-width: 64em) {
  .mobiletab {
    display: none;
  }
}

.mobiletab-infosection {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #fff;
}

.mobiletab-infosection h4,
.mobiletab-infosection p {
  margin-left: 5%;
}

.mobiletab-infosection h4 {
  padding-top: 70px;
}

.mobiletab-infosection button {
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  border-radius: 25px;
  margin-left: 5%;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

@media (min-width: 48em) {
  .mobiletab-infosection {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.mobiletab-buttoncontainer {
  margin-top: 10px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.laptopsuited {
  visibility: hidden;
  height: 0;
}

@media (min-width: 64em) {
  .laptopsuited {
    visibility: visible;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .laptopsuited-content {
    cursor: pointer;
    width: 200px;
    color: #fff;
  }
  .laptopsuited-content:not(:last-child) {
    margin-right: 10px;
  }
}

.topsection {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 48em) {
  .topsection {
    background-size: cover;
    background-size: 100vh 100vh;
  }
}

@media (min-width: 64em) {
  .topsection {
    background-size: cover;
  }
}

@media all and (orientation: landscape) {
  .topsection {
    background-size: 100% 100vh;
  }
}

.topsection h1 {
  z-index: 1;
  color: white;
}

.mission-section {
  text-align: center;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .mission-section {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 64em) {
  .mission-section {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.aboutuscontainer {
  margin-top: 50px;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content h3 {
  margin-top: 20px;
}

.content h3 span {
  display: inline-block;
  font-size: 2rem;
  stroke-dashoffset: 100;
  padding: 1px 20px;
  margin: 20px 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='black' stroke-width='3' stroke-dasharray='300%2c60' stroke-dashoffset='70' stroke-linecap='square'/%3e%3c/svg%3e");
  text-align: center;
}

.content h3,
.content p {
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .content h3,
  .content p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.content img {
  width: 100%;
}

@media (min-width: 64em) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content img {
    width: 600px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: 64em) {
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 0;
  }
  .reverse img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (min-width: 64em) {
  .two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .two img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.team {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .team {
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-bottom: 20px;
}

.team-members img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-members button {
  padding-left: 10px;
  padding-right: 10px;
  background: #1f2f22;
  border-radius: 25px;
  color: white;
}

.press {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 48em) {
  .press {
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.press .pressarticles {
  width: 350px;
}

.press .pressarticles img {
  width: 100%;
}

.press .pressarticles .pressinfo {
  margin-top: 2px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.press .pressarticles .pressinfo h1,
.press .pressarticles .pressinfo p,
.press .pressarticles .pressinfo button {
  margin-left: 5%;
}

.share-venya {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.share-venya h5 {
  font-size: 26px;
  font-weight: 500;
}

.share-venya p {
  font-size: 18px;
}

.share-venya .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share-venya .social-media a {
  margin-right: 10px !important;
  font-size: 20px !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  cursor: pointer !important;
}

.share-venya .social-media a:hover {
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

.footer {
  position: absolute;
  margin-top: 250px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  color: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.footer img {
  height: 50px;
  width: 100px;
}

.footer h4,
.footer p {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 48em) {
  .footer {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 64em) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .list-footer {
  list-style: none;
  padding: 0;
}

.footer .list-footer a {
  cursor: pointer !important;
}

.footer .input-form-footer button {
  padding: 5px 10px;
  background-color: #1f2f22;
}

.footer .input-form-footer button {
  padding: 3px 10px;
  background-color: #1f2f22;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .input-form-footer button:hover {
  background-color: #d8bdaa;
  color: #000;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-media a {
  margin-right: 10px !important;
  font-size: 20px !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  cursor: pointer !important;
}

.footer .social-media a:hover {
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

@media (min-width: 64em) {
  .footer .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-bottom {
  position: relative;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2f22), to(#61865d));
  background-image: linear-gradient(to right, #1f2f22, #61865d);
  color: #fff;
}

.contenttwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-right: 25%;
}

@media (min-width: 64em) {
  .contenttwo {
    margin-right: 0;
    margin-top: 0;
    width: 300px;
  }
}

.login-form {
  text-align: center;
  margin-top: 10pxi;
}

.login-form input {
  width: 330px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.login-form button {
  background-color: #1f2f22;
  color: #fff;
  border-radius: 25px;
  width: 330px;
  text-align: center;
}

.login-form p {
  margin-top: 10px;
}

.login-form p span {
  color: red;
}
/*# sourceMappingURL=style.css.map */